.collegeCard {
  background: black;
  color: rgb(238, 90, 254);
  padding: 30px 20px;
  border-radius: 10px;
  height: 15vh;
}

.mapLink {
  color: #1d72b8;
  margin-bottom: 10px;
}

.expandButton {
  background-color: #1d72b8;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}

.expandButton:hover {
  background-color: #155a8a;
}

.facilityImages {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  margin-top: 5px;
}

.facilityImage {
  width: 100px;
  height: 100px;
  border-radius: 5px;
  object-fit: cover;
}
.loadingBox {
  height: 100%;
  width: 100%;
}
.viewDetailsButton {
  border: 1px solid cyan;
  padding:7px 10px ;
  transition: 0.3s;
}
.viewDetailsButton:hover{
  padding: 10px 10px;
  transition: 0.3s;
}
