.registerScreen {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  height: 90vh;
  width: 100%;
  position: relative;
  z-index: 0;
  background-color: rgba(9, 143, 176, 0.421);
  overflow: hidden; /* Ensure no unexpected overflow */
}

.registerScreen::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url("/Images/bg1.jpg");
  background-position: center;
  background-attachment: fixed;
  z-index: -1;
  opacity: 0.3;
  pointer-events: none; /* Allow interaction with elements on top */
}
.registerScreen h1 {
  padding: 30px 0;
  color: cyan;
}
.registerForm {
  background-color: white;
  color: black;
  border-radius: 10px;
  width: 100%;
  max-width: 650px;
  padding: 20px 30px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.registerForm h2 {
  text-align: center;
  margin-bottom: 20px;
}

.formGroup {
  margin-bottom: 15px;
  width: 95%;
}
.formGroup1 {
  margin-bottom: 15px;
  width: 95%;
}

.formGroup1 input {
  padding: 10px 0;
  font-size: 16px;
  margin: 5px 10px;
}
.formGroup1 label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}
.formGroup label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.formGroup input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.registerButton {
  width: 100%;
  padding: 10px;
  background-color: cyan;
  color: black;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}

.registerButton:hover {
  background-color: #8a2be2;
  transition: 0.3s;
}

p {
  text-align: center;
  margin-top: 15px;
}

a {
  color: blueviolet;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
