.adminDashboardPage {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
}
.dashboardSection h2 {
  margin: 10px 0;
  color: cyan;
}
.addnewuserbutton {
  margin: 15px 0 10px 0;
  background-color: black;
  color: blueviolet;
  padding: 10px;
  font-size: 1.2rem;
  transition: 0.3s;
}
.addnewuserbutton:hover {
  color: cyan;
  transform: scale(1.02);
  transition: 0.3s;
  font-size: 1.3rem;
}
.adminDashboardPage h1 {
  color: cyan;
  text-align: center;
  margin-bottom: 10px;
}

.adminDashboardPage h3 {
  color: white;
  text-align: center;
  margin-bottom: 20px;
}

.userTableContainer {
  overflow-x: auto; /* For responsiveness on small screens */
}

.userTable {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.userTable th,
.userTable td {
  padding: 12px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.userTable th {
  background-color: black;
  color: white;
  font-weight: bold;
}

.userTable tr:hover {
  background-color: black;
  transition: background-color 0.3s ease;
}
.modal {
  width: 500px;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(255, 255, 255);
  padding: 20px;
  border: 1px solid cyan;
  border-radius: 8px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  z-index: 1000;
}

.modal h3 {
  color: black;
  margin-bottom: 25px;
}
.modal input {
  width: 100%;
  margin-bottom: 15px;
  padding: 10px 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
}
.modal button {
  width: 48%;
  margin: 0 1%;
  border-radius: 10px;
  transition: 0.3s;
}
.modal button:hover {
  opacity: 0.9;
  background-color: rgb(0, 0, 0, 0.4);
  border-radius: 0px;
  transition: 0.3s;
  transform: scale(1.03);
}
@media (max-width: 600px) {
  .userTable th,
  .userTable td {
    padding: 8px 10px;
    font-size: 14px;
  }
  .modal {
    width: 90%;
  }
}
